#front{
	padding: 8%;
}
#front h2{
	line-height: 60px;
}
#front span{
	line-height: 30px;
	color: #006699;
	margin-right: 10px;
	font-size: 14px;
}
#front img{
	display: block;
}
.article-content p{
	line-height: 26px;
	text-indent: 20px;
	margin: 10px 0;
	font-size: 14px;
	text-align:justify; 
	text-justify:distribute-all-lines;
}
.article-content img{
	width: 100%;
	height: 100%;
}
.greeting{
	text-align: center;
	margin-top: 50px;
}
.greeting span{
	color: #ccc !important;
	font-size: 12px !important;
}