

a,
a:hover,
a:focus {text-decoration: none;cursor: pointer;}
a:focus {outline: none;}
body{margin:0;padding:0;background-image:url(../images/background.png);
/*background-repeat:no-repeat;background-size:100% 100%;*/
    font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight:300;text-align:justify; text-justify:distribute-all-lines;
}
section{box-shadow: 5px 5px 25px #dadada;background: white;}

/*配置样式*/
#front {background: white;margin: 8.5em 0 5.0rem 0;}
#travel{margin: 0 0 5.0rem 0;}
#about{margin: 0 0 5.0rem 0;}
.content {padding-right: 0px;padding-left: 0px;}
.bookmark,.classify,.time,.sort{color: #006699; font-size: 14px;}
.classify{display: block; float: right; border-right: 4px solid #ddd; padding: 0 15px;}
.red-color{color: red;}
.main-text {border-left: 4px solid #ddd;padding: 0 15px;}
.user-btn{position: absolute;bottom: 20px;right: 20px;}
.section-title{text-align: center;}
.main-title {font-weight: 400;font-size: 26px;margin: 40px 0;color: #006699;}
.background{background-color: #fff;padding: 25px 45px 25px 45px;}
.background ul {margin-bottom:20px;}
.background li {list-style: none;font-size: 16px;line-height: 27px;}

/*头部*/
.fixed-header{width:100%;float:left;position:fixed;top:0;z-index:111;transition:all 0.4s;-webkit-transition:all 0.4s;padding: 35px 0px;}
.header{width: 60px; height: 60px; margin: 10px 0; border-radius: 50%; display: block; float: left;  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(250, 250, 250, 0.5)));}
.navbar-toggle {position: absolute;top: 8px;right: 18px;margin: 0;z-index: 99999999;color: #fff;padding: 10px 10px;background-color: #006699;border: none;font-weight: bold;display:none;}
.navbar-brand {color: rgba(2, 61, 105, 0.80);font-weight:300;font-size: 38px; margin-top: 10px;}
.navbar-brand:hover,
.navbar-brand:focus {color: #93FAFF;}
.fixed-header ul{padding:0;float:right;margin:0; margin-top: 10px;}
.fixed-header ul li{display:inline-block;padding: 15px 0px;}
.fixed-header ul li a{text-decoration:none;color:rgba(2, 61, 105, 0.80);font-size: 20px;font-weight: 300;padding: 10px 30px;}
.fixed-header ul li a:hover,
.fixed-header ul li .current{color: #93FAFF;border-bottom:2px solid #006699;}
.fixed-header {background: transparent;}
.fixed-header.scroll {background: rgba(2, 61, 105, 0.80);padding: 0;}
.fixed-header.Color{color: white;}
.fixed-header.scroll .navbar-brand {font-size: 30px;}

/*主体部分*/
.content-item {min-height:350px !important;/*border-bottom: 2px dashed #98b7ff; */}
.content-item p{font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;}
.content-item p:last-child {margin-bottom: 0;}
.last {padding-right: 0px;padding-left: 0px;min-height:325px !important;}
.about-text {margin-bottom: 0;text-align: center;}
.dark-blue-bordered-btn:hover,.dark-blue-bordered-btn:focus,.blue-btn {background: #006699;color: white;}
.blue-btn a{display: block;width: 100%;height: 100%;padding: 10px 20px;color: white;}
.blue-btn a:hover{color: #006699;}
.blue-btn:hover,.blue-btn:focus,.dark-blue-bordered-btn {background: none;border: 1px solid #006699;color: #006699;}
.dark-blue-bordered-btn a{display: block;width: 100%;height: 100%;padding: 10px 20px;}
.dark-blue-bordered-btn a:hover{color: white;}



.btn {float: right;border-radius:21px;padding: 0;margin-top: 20px;font-size: 20px;font-weight: 300;margin-right: 15px;transition:all 0.3s;-webkit-transition:all 0.3s;}


/*联系我 =>按钮*/
.btn-contact {font-size: 17px;padding: 10px 35px;color: #807D7D;font-weight: 300;margin-top: 0;transition: all 0.3s ease;}
.btn-contact:hover,.btn-contact:focus {color: white;background-color: rgba(47,47,47,0.5);}
.no-bg {background: none;border: 1px solid #aaa;}

/* 不同颜色按钮 */
.yellow-btn {background:#252B30;border:1px solid #252B30; }
.yellow-btn a{color:#fff;display: block;width: 100%;height: 100%;padding: 10px 25px;}
.yellow-btn a:hover{color: #252B30;}
.yellow-btn:hover,.yellow-btn:focus {background: none;color: #ACA633;}
.green-btn {background:#E6162D;border:1px solid #E6162D;}
.green-btn a{color:#fff;display: block;width: 100%;height: 100%;padding: 10px 25px;}
.green-btn a:hover{color:#E6162D;}
.green-btn:hover,
.green-btn:focus {background: none;color: #168887;}
.normal-btn {font-size: 16px;font-weight: 300;min-width: 145px;}


/*表单*/
.form-control {box-shadow: none;font-size: 16px;height: auto;padding: 8px 12px;}
.form-group {margin-bottom: 18px;}
.contact-form {overflow: hidden;margin-left: -15px;margin-right: -15px;}
.content-item input, .content-item textarea {border-radius:0px;}
.contact-field {padding-left: 0;padding-right: 0;}
.margin-b-0 {margin-bottom: 0;}
.pad-l-3 {padding-left: 3px;}
.margin-b-25 {margin-bottom: 25px;}


/*底部*/
footer{margin:5.0rem 0 0  0;}
.footer {color:#fff;font-size: 14px;font-weight: 400;padding:20px 0;}
.footer a {color: #FF6;}
.bg{background: rgba(2, 61, 105, 0.80);color: white;}






/*媒体查询*/

@media screen and (max-width:1199px){
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .background p {
        line-height: 22px;        
    }
    .background p,
    .background li {
        font-size: 13px;
    }
    .background h2 {
        margin-bottom: 15px !important;
    }
    p {
        margin: 0 0 10px;
    }
    .btn {
        margin-top: 15px;        
    }
    .last {
        min-height: 400px !important;
    }
    textarea#message {
        height: 125px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .background {
        padding: 25px;
    }
    .btn {
        margin-top: 10px;
    }
    .btn-contact {
        margin-top: 0;
    }
    .form-control {
        font-size: 0.9em;
    }
}

@media screen and (max-width:991px){
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    /*.content-item {
        min-height: inherit !important;
    }*/
    .content-item img {
        min-height: inherit !important;
    }
    .fixed-header ul li a {
        padding: 0px 15px;
    }
    .background p {
        line-height: 27px;
    }
    .background p,
    .background li {
        font-size: 16px;
    }
    .background h2 {
        margin-bottom: 20px;
    }
    p {
        margin: 0 0 20px;
    }
    .btn {
        margin-top: 20px;        
    }
    .last {
        min-height: 284px !important;
    }
    textarea#message {
        height: inherit;
    }
}

@media screen and (max-width:767px){
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .content-item {
        min-height: 580px !important;
    }
    .last {
        min-height: inherit !important;
    }
    .fixed-header.scroll .navbar-brand {
        padding: 12px 15px 0;
    }
    .navbar-toggle {
       display:block;
       top: 15px;
       background-color: white;       
    }
    .fixed-header.scroll .navbar-toggle {
        top: 8px;
    }
    .navbar-toggle .icon-bar {
        background-color: #006699;
    }
    
    .fixed-header ul li a:hover, 
    .fixed-header ul li .current {
        border-top: none;
    }
    .fixed-header {
        padding: 5px 0;
    }
    .fixed-header ul li a {
        font-size: 1em;
    }
    .main-menu ul {
        width: 100%;
        background: rgba(2, 61, 105, 0.80);
    }
    .main-menu {
        max-height: 0;
        transition: max-height 0.3s;
        overflow: hidden;
    }
    /* http://css3.bradshawenterprises.com/animating_height/ */
    .main-menu.show {
        max-height: 250px;
        overflow: auto;
    }
    .main-menu ul li {
        display: block;
        padding: 10px 10px;
        width: 100%;
        float:left;
    }
    .main-menu ul li a {
        padding: 0px 0px;
        width: 100%;
        float: left;
        color: white !important;
    }
    #home {
        padding-top: 62px;
    }
    .pad-l-3 {
        padding-left: 15px;
    }
}

@media screen and (max-width:500px) {
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 420px) {
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .background {
        padding: 40px 35px;
    }
    .bg{
        background: rgba(2, 61, 105, 0.80);
        color: white;
    }
}
@media screen and (max-width: 390px) {
    .header{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
     .content-item {
        min-height: 650px !important;
    }
    .background {
        padding: 40px 35px;
    }
    .bg{
        background: rgba(2, 61, 105, 0.80);
        color: white;
    }
}


